<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="TailspinFeed" value="https://pkgs.dev.azure.com/TailspinLearn1709/SpaceGameWebPipeline/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TailspinFeed>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="%VSS_NUGET_ACCESSTOKEN%" />
    </TailspinFeed>
  </packageSourceCredentials>
</configuration>
